
:root {
    --red: #ffc9c9;
    --green: #c2fdbc;
    --blue: #b6e4fb;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 1px;
    border: 3px solid white;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(110, 110, 110);
}

button {
    padding: .5rem .8rem;
    font-size: 16px;
    font-weight:  bold;
    border: 0;
    border-radius: 4px;
}

button:hover:enabled {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
}

#connect {
    background: var(--blue);
}

#pause {
    background: var(--blue);
}

#canvasContainer {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin-bottom: 3rem;
}

#alerts {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    margin-top: 1rem;
}

#alerts > div {
    padding: 1.5rem 2rem;
    border-radius: 4px;
    background: lightgray;
    opacity: .5;
}

#alerts > div:first-child {
    opacity: 1;
}

@media (max-width:500px) {
    body {
        margin: .5rem;
    }

    #canvasContainer {
        margin-bottom: 2rem;
    }

    #alerts > div {
        padding: 1rem;
    }
}


body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(./background.jpg);
    background-size: cover;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}





.topButtons {
  position: absolute;
  top: 5px;
  right: 5px;
  
  
}
.button {
  font-size: 18px;
  padding: 10px;
  background-color: skyblue;
}




.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.settingsBorder  {
  border: 2px solid black;
  padding: 8px;
}

.innerSettingsBorder  {
  border: 1px solid grey;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.saveSettings {
  font-size: 18px;
  padding: 8px;
  background-color: Green;
}


.biggerGraph {
  width: 900px;
}



body{
  margin-top:20px;
  background-color:white;
  color:#69707a;
}